.slider-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.array-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100px;
}

.array {
  width: 40px;
  height: 40px;
  transition: 0.3s;
  cursor: pointer;
}

.array:hover {
  transform: scale(1.2);
}

.array-left {
  background-image: url('./assets/svg/arrow-left.svg');
}
.array-right {
  background-image: url('./assets/svg/arrow-right.svg');
}

.visible-image {
  width: 400px;
  height: 400px;
  /* justify-content: center; */
  border: 1px solid green;
  margin: 0 40px;
  overflow: hidden;
}

.image-container {
  display: flex;
  flex-direction: row;
  transition: 0.3s;
}

.option-image {
  display: block;
  width: 400px;
  height: 400px;
}